@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Cantarell');

body {
  height: 800px;
  background: url('./assets/images/wiki-globe.jpeg') no-repeat;
  background-position: 80% 40%; 
  font-family: Cantarell;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.link {
  transition: all 0.3s ease;
  /* background-color: rbga(0,0,0,0.8); */
  color: rgb(7, 100, 206);
}

.link:hover {
  color:rgb(11, 159, 185);
  transform: translate(-5px);
  
}

.carousel-image {
  height: 300px;
  /* height: 400px;  */
  background-size: cover;
}


