@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Sarabun');
@import url('https://fonts.googleapis.com/css?family=Duru+Sans');

body {
  height: 800px;
  background: url('./assets/images/wiki-globe.jpeg') no-repeat;
  background-position: 85% 40%; 
  background-attachment: fixed;
  padding-right: 0 !important;
  padding-left: 0 !important;
  /* font-family: Quicksand; */
}

/* in the navigator */
@keyframes spin {
  0% { -webkit-transform: rotateY(0deg); }
  /* 50% { -webkit-transform: rotateY(180deg); } */
  100% { -webkit-transform: rotateY(360deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotateY(0deg); }
  /* 50% { -webkit-transform: rotateY(180deg); } */
  100% { -webkit-transform: rotateY(360deg); }
}

.fa-wikipedia-w {
  animation-name: spin;
  -webkit-animation-name: spin;
  animation-duration: 12000ms;
  -webkit-animation-duration: 12000ms;
  /* -webkit-transform-origin:50% 50%; */
  animation-iteration-count: infinite; /* The magic keyword for infinite*/
  -webkit-animation-iteration-count: infinite; /* The magic keyword for infinite*/
  animation-timing-function: cubic-bezier(0.075, 0.885, 0.05, 1);
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.885, 0.05, 1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.nav-link, .nav-title-icon, .nav-title-text {
  font-family: Quicksand;
  transition: all 0.3s ease;
}
.nav-link {
  color: rgb(7, 100, 206);
  font-weight: 600;
}
.nav-title-icon, .nav-title-text {
  color: black;
}
.nav-link:hover, .nav-title-icon:hover {
  color: rgb(132, 142, 158);
}
/*  */


/* in the search results */
.link {
  font-family: Sarabun;
  transition: all 0.3s ease;
  /* background-color: rbga(0,0,0,0.8); */
  color: rgb(7, 100, 206);
}

.link:hover {
  color:rgb(132, 142, 158);
  transform: translate(-5px);
}
/*  */

/* in the modal */
.carousel-image {
  height: 200px;
  /* height: 400px;  */
  background-size: contain;
}
.carousel-image > img {
  max-width:100%;
  /* max-height:100%;  */
  margin: auto auto; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: black;
}


